<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Setting up the character encoding and viewport for better mobile responsiveness -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title of the game, using the player's name -->
    <title>Adventure Game{{ player_name }}</title>
    <!-- Linking the external stylesheet for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
</head>

<body>
<!-- The main container for our game -->
<div class="container">
    <!-- Greeting the player with a welcoming heading -->
    <h1>{{name}}</h1>
    <!-- Displaying information about the current room -->
    <div id="room-info">
        <!-- Heading for the current room's text -->
        <h2>{{ room_info['text'] }}</h2>
        <div id="image-container">
            <!-- Displaying the image for the current room -->
            <img src="{{ url_for('static', filename=room_info['image']) }}" alt="Room Image">
        </div>
        <!-- Form for player interaction - choosing options -->
        <form action="{{ url_for('move') }}" method="post">
            <!-- Looping through available options for the current room -->
            {% for option in room_info['options'] %}
            <!-- Button for each option, triggering a move in the game -->
            <button type="submit" name="direction" value="{{ option }}">{{ option }}</button>
            {% endfor %}
        </form>
        <form action="{{ url_for('main') }}" method="get">
            <button type="submit">Restart Game</button>
        </form>
    </div>
</div>
</body>
<script>
     import {initializeApp} from "https://www.gstatic.com/firebasejs/10.6.0/firebase-app.js";
    import {getAuth} from "https://www.gstatic.com/firebasejs/10.6.0/firebase-auth.js";
    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyDT2k-zy6sT7alm_qEtn1LzlDJiGYYfd4Y",
        authDomain: "adventure-c509f.firebaseapp.com",
        projectId: "adventure-c509f",
        storageBucket: "adventure-c509f.appspot.com",
        messagingSenderId: "1030015793989",
        appId: "1:1030015793989:web:835ab76c441de0bab01c2c",
        measurementId: "G-88E0FCDKRD"
    };
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);
</script>
<script>
    saveBtn.addEventListener('click', function (event) {
        event.preventDefault(); // Prevent default link behavior
        fetch('/index/Game/save_progress', {
            method: 'POST',
        })
            .then(response => response.json())
            .then(data => {
                console.log('Progress saved!');
                // Optionally handle success or display a message
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

</script>

</html>