<!-- main.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <h1>Welcome to the Star Wars: The Old Republic Adventure Game</h1>
        <form action="{{ url_for('game') }}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <button type="submit">Start Game</button>
        </form>

        <form action="{{ url_for('register') }}" method="post">
            <button type="submit" style="float: right;">register</button>
        </form>


        <button style="visibility: collapse; margin-top: 16px" id="logout">Log out</button>
    </div>
</nav>
<div class="container">
    <!-- Container for displaying images -->
    <div id="image-container">
        <!-- Displaying a static GIF -->
        <img src="{{ url_for('static', filename='Firefly Jedi Temple.jpg') }}" alt="Static GIF">
    </div>
</div>
</body>
<script type="module">
    // Import the functions you need from the SDKs you need
    import {initializeApp} from "https://www.gstatic.com/firebasejs/10.6.0/firebase-app.js";
    import {
        getAuth,
        signInWithEmailAndPassword,
        createUserWithEmailAndPassword,
        onAuthStateChanged,
        signOut
    } from "https://www.gstatic.com/firebasejs/10.6.0/firebase-auth.js";
    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyDT2k-zy6sT7alm_qEtn1LzlDJiGYYfd4Y",
        authDomain: "adventure-c509f.firebaseapp.com",
        projectId: "adventure-c509f",
        storageBucket: "adventure-c509f.appspot.com",
        messagingSenderId: "1030015793989",
        appId: "1:1030015793989:web:835ab76c441de0bab01c2c",
        measurementId: "G-88E0FCDKRD"
    };
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);

    onAuthStateChanged(auth, (user) => {
        if (user) {
            let logout = document.getElementById('logout')
            logout.style.visibility = 'visible'
            logout.addEventListener('click', (e) => {
                signOut(auth).then(() => {
                    window.location.href = '/'
                    // Sign-out successful.
                }).catch((error) => {
                    // An error happened.
                });
            })
        }
    })


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</html>
