<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Adventure Game</h1>
        <p>Enter your name to begin:</p>
        <!-- Container for displaying images -->
            <div id="image-container">
                <!-- Displaying a static GIF -->
                <img src="{{ url_for('static', filename='star-wars-the-old-republic.gif') }}" alt="Static GIF">
            </div>
        <form action="{{ url_for('game') }}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <button type="submit">Start Game</button>
        </form>
    </div>
</body>
</html>