<!-- main.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <h1>Welcome to the Star Wars: The Old Republic Adventure Game</h1>
        <form action="{{ url_for('game') }}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <button type="submit">Start Game</button>
        </form>
    </div>
</nav>
<div class="container">
    <!-- Container for displaying images -->
    <div id="image-container">
        <!-- Displaying a static GIF -->
        <img src="{{ url_for('static', filename='Firefly Jedi Temple.jpg') }}" alt="Static GIF">
    </div>
</div>
</body>
</html>
